azul = #1E90BD
blanco = #fff
nar = #FFA95C
azTexto = #5D8CAC
header
	background azul
	color blanco
	position absolute
	width 100%
	height 85px
	figure 
		float left
	#botones 
		margin-right 10px
		float right
		ul
			list-style none
			li
				display inline-block
				margin-left 10px
	#secciones
		margin 35px 0 0 350px
		font-size 16px
		ul
			list-style none
			li
				display inline-block
				margin-left 30px
				transition 0.6s
			li:hover
				cursor pointer
				color nar
				margin-left 30px
				padding-bottom 10px
				border-bottom 15px solid nar
section 
	padding-top 86px
	#slider
		background #ddd
		height 400px
		text-align center
		padding-top 250px
		h1
			margin 0px
			padding 0px
	#presentacion
		padding 30px
		color #666
	#titulares
		text-align center
		.cajaTit
			color #666
			display inline-block
			height 200px
			margin-left 30px
			padding 10px
			vertical-align middle
			width 300px
			h1
				color azTexto
				font-size 16px
				text-align left
			p 
				text-align left
	#pieTitulares
		background azul
		height 300px
		width 100%
		#sociales
			background #333
			height 300px
			width 100px
			div
				margin 20px 0 0 20px 
				img
					height 40px
		.cajaPieTit
			background #ddd
			width 200px
			height 200px
			display inline-block
			vertical-align middle
footer
	height 50px
			



	